/* ALL custom CSS */

/* General CSS */

main {
  margin-top: 55px;
}

body {
  background: linear-gradient(to bottom, #88c7f4, #56d3c4) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type=file]{
  width: 100%;
  height: calc(2.6rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.6;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 2rem;
}

input[type=select]{
  -webkit-appearance: none;
}

/* End General CSS */

/* Nav CSS */

.dropdown-menu {
  min-width: 11rem !important;
  box-shadow: 4px -4px 9px 0px rgba(0, 0, 0, 0.24) !important;
}

.navbar-laravel {
  background-color: rgba(73, 167, 93, 0.51);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.image-nav{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* End nav CSS */

/* Login and register CSS */

.card-register {
  margin-top: 15%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin {
  margin-top: 30%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title,
.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn,
.custom-btn {
  text-decoration: none;
  color: #5db480 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #5db480 !important;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-weight: bold;
}

.form-signin .btn:hover,
.custom-btn:hover {
  color: #ffffff !important;
  background: #5db480;
}

.form-label-group textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a1cbef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, .25);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group select,
.form-label-group option,
.form-label-group textarea {
  height: auto;
  border-radius: 2rem;
}

.form-label-group textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ced4da;
}

.form-label-group>input,
.form-label-group>select,
.form-label-group>textarea,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group select::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group select:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group select::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group select::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder,
.form-label-group select::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group select:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label,
.form-label-group select:not(:placeholder-shown)~label,
.form-label-group textarea:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

@media only screen and (max-width: 600px) {
  .card-signin {
    margin: 10% 0;
  }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
  background-color: #5db480;
}

/* End login and register CSS */

/* profile CSS */

.profile-card {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 2rem;
  margin: 50px 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.profile-img>img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

/* End Profile CSS */


/* home CSS */

.card-workshop {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-workshop a {
  color: #000000;
}

.card-workshop a:hover {
  text-decoration: none;
}

.card-workshop:hover {
  transition-duration: 600ms;
  transform: translate3d(0, -4px, 0);
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, .2);
  transition-property: box-shadow, transform;
  transition-timing-function: cubic-bezier(.16, 1, .29, .991);
}

.card-workshop-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(73, 167, 93, 0.51);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  text-align: center;
  color: #fff;
}

.card-workshop-header>img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-workshop-header>p {
  font-weight: bold;
  font-size: 3rem;
  margin: 0 auto;
}

.card-workshop-body>h5 {
  flex: 1 1 auto;
  padding: 1.25rem;
  font-weight: lighter;
}

/* End home CSS */

.workshop-details {
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 20px 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.workshop-details .workshop-details-header {
  padding: .75rem 1.25rem;
  text-align: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background:  url(/../img/bg-workshop.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.workshop-details .workshop-details-header>.workshop-name{
  margin-top: 15px;
}

.workshop-details .workshop-details-header>.workshop-name>span {
  font-weight: bold;
  font-size: 3rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 0 20px;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.75);
}

.workshop-details .workshop-details-header>img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.75);
}

.workshop-details-body {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: 20px;
}

.workshop-details-body>h5 {
  margin: 20px auto;
  max-width: 80%;
}

.workshop-details-body h2 {
  font-weight: bold;
}

.workshop-details-body>ol {
  list-style-type: none;
  padding: 0;
}

.swal2-styled.swal2-confirm {
  text-decoration: none !important;
  color: #5db480 !important;
  text-transform: uppercase !important;
  background: #ffffff !important;
  padding: 10px 20px !important;
  border: 2px solid #5db480 !important;
  border-radius: 5rem !important;
  display: inline-block !important;
  transition: all 0.4s ease 0s !important;
  font-weight: bold !important;
  width: 10rem !important;
  font-size: 1rem !important;
}

.swal2-styled.swal2-confirm:hover {
  color: #ffffff !important;
  background: #5db480 !important;
}

@media only screen and (max-width: 767px){
  .workshop-name>span {
    font-size: 2rem !important;
  }
}